body {
     
    background:  url(https://lh3.googleusercontent.com/3yrG_vfISe92_j2oVBL-ZEPbEl9Rjqgk8lyVu7mCeJAUqqOTSDNO7ftortoaTaIC4hqC4UF_zbyOPVt202mP828WYHaHpO-Lb58wPcaAbuE8a4ZttFYxotNhgGms4srTkL71Z30qyg=w2400) no-repeat center center fixed; 
    background-size: cover;
   
    background-repeat: no-repeat;
    background-position: center center fixed;
    grid-template-columns: auto;
    }

body, html {
    height: 100%;
    width: auto;
    /* overflow:hidden; */
    margin: 0; padding: 0;
     }

svg{
    align-self: center;
    height: 100%;
    justify-self: center;
    display: block;
    margin: auto;
    fill: #ffffff;
    width: 100%;
    max-width: 50em;
}

#borderLogo{
  animation-name: omarAR1;
  animation-duration: 2s;
}

#omarAR{
  animation-name: omarAR1;
  animation-duration: 3s;
  /* animation-delay: 1s; */
}

#bigM{
  animation-name: omarAR1;
  animation-duration: 4s;
  /* animation-delay: 2s; */
 }

#bigR{
  animation-name: omarAR1;
  animation-duration: 4.5s;
  /* animation-delay: 2.5s; */
}

@keyframes omarAR1 {
  from{
    offset-distance: 0%;
    /* opacity: 0;*/
  }
  to{
    offset-distance: 100%;
    /* opacity: 1;*/
  }
}

  .pDetails{
    font-size: 2rem;
    color: beige;
    font-family: 'Inter', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 50vh;
  }
  a {
    text-decoration:none;
    color: inherit;
    text-transform: uppercase;
    }


    .st0{display:none;}
    .st1{fill:#ffffff;}



  @media (max-width: 360px){
    .pDetails{
    font-size: 1.2rem;
    color: beige;
    font-family: 'Inter', sans-serif;
    background: url(https://i.imgur.com/WWiElLA.gif) no-repeat;
    -webkit-text-fill-color: transparent;}

    body{
      width: auto;
    }
  }
