body {
  margin: 0;
  padding: 0;
  background: url(https://lh3.googleusercontent.com/3yrG_vfISe92_j2oVBL-ZEPbEl9Rjqgk8lyVu7mCeJAUqqOTSDNO7ftortoaTaIC4hqC4UF_zbyOPVt202mP828WYHaHpO-Lb58wPcaAbuE8a4ZttFYxotNhgGms4srTkL71Z30qyg=w2400) no-repeat center center fixed; 
  background-size: cover;
  color: rgb(240,240,240);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(240,240,240);
}

.share-button svg {
  margin: 10px 12px;
  color: rgb(0,0,0);
}

.container {
  width: 91%;
  max-width: 680px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.tile {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
}

.tile:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.02);
  background-color: #ddf700;
}

.tile-share-button {
  margin: 8px;
  width: 40px;
  height: 40px;
}

.tile-share-button svg {
  margin-left: 12px;
  margin-top: 10px;
}

.image-container {
  width: 96px;
  overflow: hidden;
}

.profileLogo {
  height: 100%;
  display: block;
  margin: auto;
  fill: #ffffff;
  width: 100%;
  max-width: 50em;
}

.image-container img {
  height: 100%;
}

.icon {
  margin: 4px 8px;
  width: 44px;
  height: 44px;
  fill: #000000;
}

@keyframes omarAR1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 1 / 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 17px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #c9a6ff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
  transform: scale(1.02);
}
